/*
    Document   : PHP-Codesniffer.css
    Author     : schkovich + style amended by Wycks
    Description: This stylesheet is designed to style PHP-Codesniffer XSLT styles-sheet
        
*/
 
table {
    width: 100%;
}
th {
    text-align: left;
}
th.file {
    width: 80%;
    color: black;
}
th.notes {
    width: 10%;
    color: black;
}
span {
    font-weight: bold;
}

span.warning {
    color: orange;
}

#name{
    background-color: #CCC;
}

.error{
    font-weight: bold;
    padding-right: 5px;
    color: red;
    float: left;
}

.details{
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    margin-top: -12px;
    color: #686868;
}

.error-wrap{
    background-color: #E9E9E9;
    padding-top: 10px;
}